@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.carousel {
  max-width: 1024px;
  margin: auto;
}

.sorting {
  max-width: 952px;
  border-radius: 20px;
  padding: 1.5rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.25rem;
  background-color: $secondary-background;
  &__container {
    display: flex;
    gap: 5rem;
  }
  &__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $primary-background;
    border-radius: 5px;
    padding: 0.5rem 1rem;

    &-text {
      margin: 0;
      color: $primary-interactive;
    }
  }
  &__select {
    background-color: $primary-background;
    color: $primary-text-dark;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    &:focus {
      outline: 2px solid $primary-interactive;
    }
  }
}

.smallCards {
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: 2.25rem;
  margin-top: 3rem;
  &__article {
    width: 100%;
    padding: 1.25rem 2.25rem;
    display: flex;
    border: 2px solid $secondary-text-dark;
    border-radius: 5px;
    position: relative;
  }
  &__image {
    width: 10rem;
    object-fit: contain;
    border-radius: 5px;
  }
  &__details {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0 1.5rem;
  }
  &__score {
    position: absolute;
    right: 2.25rem;
    border: 2px solid $secondary-text-dark;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin: 0;
    line-height: 4.75rem;
    text-align: center;
    vertical-align: middle;
    color: green;
    &--negative {
      color: red;
    }
  }
}
